In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
corona_df = pd.read_csv('datasets/Corona_with_temperatures.csv')
corona_df.head()

,Province/State,Country/Region,last_update,Confirmed,Deaths,Recovered,latitude,longitude,start_date,end_date,max_temp,min_temp,avg_temp
0,Hubei,Mainland China,2020-03-10 15:13:05,67760,3024,47743,30.9756,112.2707,2020-03-10,2020-03-11,17.8,5.2,11.50
1,NaN,Italy,2020-03-10 17:53:02,10149,631,724,43.0000,12.0000,2020-03-10,2020-03-11,14.4,4.4,9.40
2,NaN,Iran (Islamic Republic of),2020-03-10 19:13:20,8042,291,2731,32.0000,53.0000,2020-03-10,2020-03-11,15.9,0.4,8.15
3,NaN,Republic of Korea,2020-03-10 19:13:20,7513,54,247,36.0000,128.0000,2020-03-10,2020-03-11,7.5,3.1,5.30
4,NaN,France,2020-03-10 18:53:02,1784,33,12,47.0000,2.0000,2020-03-10,2020-03-11,12.0,7.0,9.50

In [3]:
corona_df['weather'] = np.where(corona_df['avg_temp'] >= 25, 1,0)
print(corona_df.head())

  Province/State              Country/Region          last_update  Confirmed  \
0          Hubei              Mainland China  2020-03-10 15:13:05      67760
1            NaN                       Italy  2020-03-10 17:53:02      10149
2            NaN  Iran (Islamic Republic of)  2020-03-10 19:13:20       8042
3            NaN           Republic of Korea  2020-03-10 19:13:20       7513
4            NaN                      France  2020-03-10 18:53:02       1784

   Deaths  Recovered  latitude  longitude  start_date    end_date  max_temp  \
0    3024      47743   30.9756   112.2707  2020-03-10  2020-03-11      17.8
1     631        724   43.0000    12.0000  2020-03-10  2020-03-11      14.4
2     291       2731   32.0000    53.0000  2020-03-10  2020-03-11      15.9
3      54        247   36.0000   128.0000  2020-03-10  2020-03-11       7.5
4      33         12   47.0000     2.0000  2020-03-10  2020-03-11      12.0

   min_temp  avg_temp  weather
0       5.2     11.50        0
1       4.4      9.40        0
2       0.4      8.15        0
3       3.1      5.30        0
4       7.0      9.50        0

In [4]:
confirmed_hot_climate_df = corona_df[corona_df['weather'] == 1]
confirmed_cold_climate_df = corona_df[corona_df['weather'] == 0]

In [6]:
var_hot_climate = np.var(confirmed_hot_climate_df['avg_temp'])
var_cold_climate = np.var(confirmed_cold_climate_df['avg_temp'])
print(var_hot_climate, var_cold_climate)
print("Ratio:" + str(var_cold_climate/var_hot_climate))

3.8855006858710563 70.96015292905965
Ratio:18.262807979186267

In [7]:
#Because Ratio is greater than 4:1 we will use Welch's t-test
stats.ttest_ind(a=confirmed_hot_climate_df['avg_temp'], b=confirmed_cold_climate_df['avg_temp'],equal_var=False)

Ttest_indResult(statistic=25.790282216548423, pvalue=6.550467759055875e-61)

In [8]:
corona_2021_01_20_df = pd.read_csv('datasets/Corona_2021_01_20_with_temperatures.csv')
corona_2021_01_20_df.head()

,FIPS,Admin2,Province_State,Country_Region,last_update,latitude,longitude,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,start_date,end_date,max_temp,min_temp,avg_temp
0,51097.0,King and Queen,Virginia,US,2021-01-20 05:21:54,37.710449,-76.886896,225,2,0,223,"King and Queen, Virginia, US",3202.846975,0.888889,2021-01-20,2021-01-21,8.7,-3.1,2.80
1,21157.0,Marshall,Kentucky,US,2021-01-20 05:21:54,36.880071,-88.328036,2000,27,0,1973,"Marshall, Kentucky, US",6430.868167,1.350000,2021-01-20,2021-01-21,11.7,-5.0,3.35
2,36115.0,Washington,New York,US,2021-01-20 05:21:54,43.311538,-73.430434,1502,24,0,1478,"Washington, New York, US",2454.087968,1.597870,2021-01-20,2021-01-21,-0.6,-11.1,-5.85
3,47061.0,Grundy,Tennessee,US,2021-01-20 05:21:54,35.384337,-85.721427,1450,21,0,1372,"Grundy, Tennessee, US",10374.618306,1.507538,2021-01-20,2021-01-21,8.5,0.7,4.60
4,17197.0,Will,Illinois,US,2021-01-20 05:21:54,41.446193,-87.978627,58408,800,0,57608,"Will, Illinois, US",8455.822209,1.369675,2021-01-20,2021-01-21,0.6,-11.1,-5.25

In [9]:
corona_2021_01_20_df['weather'] = np.where(corona_2021_01_20_df['avg_temp'] >= 25, 1, 0)
print(corona_2021_01_20_df.head())

      FIPS          Admin2 Province_State Country_Region          last_update  \
0  51097.0  King and Queen       Virginia             US  2021-01-20 05:21:54
1  21157.0        Marshall       Kentucky             US  2021-01-20 05:21:54
2  36115.0      Washington       New York             US  2021-01-20 05:21:54
3  47061.0          Grundy      Tennessee             US  2021-01-20 05:21:54
4  17197.0            Will       Illinois             US  2021-01-20 05:21:54

    latitude  longitude  Confirmed  Deaths  Recovered  Active  \
0  37.710449 -76.886896        225       2          0     223
1  36.880071 -88.328036       2000      27          0    1973
2  43.311538 -73.430434       1502      24          0    1478
3  35.384337 -85.721427       1450      21          0    1372
4  41.446193 -87.978627      58408     800          0   57608

                   Combined_Key  Incident_Rate  Case_Fatality_Ratio  \
0  King and Queen, Virginia, US    3202.846975             0.888889
1        Marshall, Kentucky, US    6430.868167             1.350000
2      Washington, New York, US    2454.087968             1.597870
3         Grundy, Tennessee, US   10374.618306             1.507538
4            Will, Illinois, US    8455.822209             1.369675

   start_date    end_date  max_temp  min_temp  avg_temp  weather
0  2021-01-20  2021-01-21       8.7      -3.1      2.80        0
1  2021-01-20  2021-01-21      11.7      -5.0      3.35        0
2  2021-01-20  2021-01-21      -0.6     -11.1     -5.85        0
3  2021-01-20  2021-01-21       8.5       0.7      4.60        0
4  2021-01-20  2021-01-21       0.6     -11.1     -5.25        0

In [10]:
confirmed_hot_climate_2021_01_20_df = corona_2021_01_20_df[corona_2021_01_20_df['weather'] == 1]
confirmed_cold_climate_2021_01_20_df = corona_2021_01_20_df[corona_2021_01_20_df['weather'] == 0]

In [11]:
var_hot_climate = np.var(confirmed_hot_climate_2021_01_20_df['avg_temp'])
var_cold_climate = np.var(confirmed_cold_climate_2021_01_20_df['avg_temp'])
print(var_hot_climate, var_cold_climate)
print("Ratio:" + str(var_cold_climate/var_hot_climate))

2.0294679752066114 69.10579562942443
Ratio:34.051188032365516

In [12]:
#Because Ratio is greater than 4:1 we will use Welch's t-test
stats.ttest_ind(a=confirmed_hot_climate_df['avg_temp'], b=confirmed_cold_climate_df['avg_temp'],equal_var=False)

Ttest_indResult(statistic=25.790282216548423, pvalue=6.550467759055875e-61)